<div class="home-container">
  <div class="home-part">
    <%= link_to(controller: 'challenges', action: 'index', side: 'light') do %>
      <div class="home-challenge-link">
      <%= image_tag "light" %>
        <p>Human Challenges</p>
      </div>
    <% end %>
    <%= link_to(controller: 'challenges', action: 'index', side: 'dark') do %>
      <div class="home-challenge-link">
      <%= image_tag "dark" %>
        <p>Undead Challenges</p>
      </div>
    <% end %>
  </div>
  <div class="home-part">
    <%= link_to(controller: 'challenges', action: 'index', side: 'daily') do %>
      <div class="home-challenge-link">
      <%= image_tag "daily" %>
        <p>Daily Challenges</p>
      </div>
    <% end %>
  </div>
  <div class="home-part">
    <%= link_to(controller: 'challenges', action: 'index', side: 'epic') do %>
      <div class="home-challenge-link">
      <%= image_tag "epic" %>
        <p>Epic Challenges</p>
      </div>
    <% end %>
    <%= link_to(controller: 'challenges', action: 'index', side: 'elite') do %>
      <div class="home-challenge-link">
      <%= image_tag "elite" %>
        <p>Elite Challenges</p>
      </div>
    <% end %>
  </div>
</div>
