<% if @card_to_play.battle_team.player == current_user.player %>
  <div class="players-container">
    <div class="players-cards">
      <% @bcs_opponent.each do |card| %>
        <div class="player-card">
          <div class="effects">
            <% unless card.effects.empty? %>
              <% card.effects.each do |effect| %>
                <div class="effect <%= effect.curse ? "curse" : "boost" %>">
                  <p></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
            <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% else %>
            <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% end %>
          <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
          <%= image_tag card.card.side == "dark" ? "undead" : "human" %>
          <h3><%= card.card.name %></h3>
          <h5>lvl <%= card.card.level %></h5>
        </div>
      <% end %>
    </div>
  </div>

  <div class="players-container">
    <div class="players-cards">
      <% @bcs_player.each do |card| %>
        <div class="player-card <%= @card_to_play == card ? "card-playing" : nil %>">
          <div class="effects">
            <% unless card.effects.empty? %>
              <% card.effects.each do |effect| %>
                <div class="effect <%= effect.curse ? "curse" : "boost" %>">
                  <p></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
            <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% else %>
            <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% end %>
          <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
          <%= image_tag card.card.side == "dark" ? "undead" : "human" %>
          <h3><%= card.card.name %></h3>
          <h5>lvl <%= card.card.level %></h5>
        </div>
      <% end %>
    </div>
  </div>


  <h3>Card playing: <%= @card_to_play.card.name %></h3>

  <div class="skills">
    <% @skills.each do |skill| %>
      <% if skill.name.include?("Effect") %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "effect" %>
        </div>
      <% elsif skill.name.include?("Taunt") %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
        <%= image_tag "taunt" %>
        </div>
      <% elsif skill.name.include?("Heal") && skill.target_type == "Single" %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
        <%= image_tag "heal" %>
        </div>
      <% elsif skill.name.include?("Heal") && skill.target_type == "Multi" %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
        <%= image_tag "multi-heal" %>
        </div>
      <% elsif skill.name.include?("Attack") && skill.target_type == "Single" %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
        <%= image_tag "attack" %>
        </div>
      <% elsif skill.name.include?("Attack") && skill.target_type == "Multi" %>
        <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
        <%= image_tag "multi-attack" %>
        </div>
      <% end %>

    <% end %>
  </div>

<% else %>
  <div class="players-container">
    <div class="players-cards">
      <% @bcs_opponent.each do |card| %>
        <div class="player-card <%= @card_to_play == card ? "card-playing" : nil %>">
          <div class="effects">
            <% unless card.effects.empty? %>
              <% card.effects.each do |effect| %>
                <div class="effect <%= effect.curse ? "curse" : "boost" %>">
                  <p></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
            <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% else %>
            <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% end %>
          <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
          <%= image_tag card.card.side == "dark" ? "undead" : "human" %>
          <h3><%= card.card.name %></h3>
          <h5>lvl <%= card.card.level %></h5>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>

  <h2>Card playing: <%= @card_to_play.card.name %></h2>

  <%= form_with(url: simulate_turn_battle_path, method: :patch) do |f| %>
    <%= f.submit "Next" %>
  <% end %>

  <br>
  <br>

  <div class="players-container">

    <div class="players-cards">

      <% @bcs_player.each do |card| %>

        <div class="player-card">
          <div class="effects">
            <% unless card.effects.empty? %>
              <% card.effects.each do |effect| %>
                <div class="effect <%= effect.curse ? "curse" : "boost" %>">
                  <p></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
            <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% else %>
            <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% end %>
          <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
          <%= image_tag card.card.side == "dark" ? "undead" : "human" %>
          <h3><%= card.card.name %></h3>
          <h5>lvl <%= card.card.level %></h5>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
