<div class="battle-container" data-controller="play-attack">
  <% if @card_to_play.battle_team.player == current_user.player %>
    <div class="battle-top-part">
      <h2 id="title-ennemy-target">Select a Target</h2>
    </div>

    <div class="players-container">
      <div class="players-cards">
        <% @bcs_opponent.each do |card| %>
        <% if @taunt_present && !card.effect?("taunt") %>
          <div class="player-card ennemy-card unclickable" data-target-id="<%= card.id %>" data-play-attack-target="ennemy">
              <div class="damage-taken">
                <% if card.damage_taken < 0 %>
                  <p class="dmg-taken">
                    <%= card.damage_taken %>
                  </p>
                <% elsif card.damage_taken > 0 %>
                  <p class="heal-taken">
                    +<%= card.damage_taken %>
                  </p>
                <% else %>
                  <p></p>
                <% end %>
              </div>
            <div class="effects">
              <% unless card.effects.empty? %>
                <% card.effects.each do |effect| %>
                  <div class="effect <%= effect.curse ? "curse" : "boost" %>" data-title="<%= effect.name %> <%= effect.curse ? "" : "+" %> <%= effect.intensity %>">
                    <p></p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
              <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% else %>
              <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% end %>
            <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
            <%= image_tag card.card.photo %>
            <h3><%= card.card.name %></h3>
            <h5>lvl <%= card.card.level %></h5>
            <input type="hidden" class="target-input" value="<%= card.id %>">
          </div>
        <% else %>
          <div class="player-card ennemy-card" data-target-id="<%= card.id %>" data-play-attack-target="ennemy">
            <div class="damage-taken">
              <% if card.damage_taken < 0 %>
                <p class="dmg-taken">
                  <%= card.damage_taken %>
                </p>
              <% elsif card.damage_taken > 0 %>
                <p class="heal-taken">
                  +<%= card.damage_taken %>
                </p>
              <% else %>
                <p></p>
              <% end %>
            </div>
          <div class="effects">
            <% unless card.effects.empty? %>
              <% card.effects.each do |effect| %>
                <div class="effect <%= effect.curse ? "curse" : "boost" %>" data-title="<%= effect.name %> <%= effect.curse ? "" : "+" %> <%= effect.intensity %>">
                  <p></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
            <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% else %>
            <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
          <% end %>
          <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
          <%= image_tag card.card.photo %>
          <h3><%= card.card.name %></h3>
          <h5>lvl <%= card.card.level %></h5>
          <input type="hidden" class="target-input" value="<%= card.id %>">
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="battle-mid-part">
      <h2 class="<%= @skills.any? { |skill| skill.target_type == "Single" && skill.name.include?("Heal") } ? '' : 'hidden' %>" id="title-ally-target">Select a Target</h2>
    </div>

    <div class="players-container">
      <div class="players-cards">
        <% @bcs_player.each do |card| %>
          <div class="player-card ally-card <%= @card_to_play == card ? "card-playing" : nil %>" data-target-id="<%= card.id %>" data-play-attack-target="ally">
            <div class="damage-taken">
              <% if card.damage_taken < 0 %>
                <p class="dmg-taken">
                  <%= card.damage_taken %>
                </p>
              <% elsif card.damage_taken > 0 %>
                <p class="heal-taken">
                  +<%= card.damage_taken %>
                </p>
              <% else %>
                <p></p>
              <% end %>
            </div>
            <div class="effects">
              <% unless card.effects.empty? %>
                <% card.effects.each do |effect| %>
                  <div class="effect <%= effect.curse ? "curse" : "boost" %>" data-title="<%= effect.name %> <%= effect.curse ? "-" : "+" %> <%= effect.intensity %>">
                    <p></p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
              <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% else %>
              <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% end %>
            <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
            <%= image_tag card.card.photo %>
            <h3><%= card.card.name %></h3>
            <h5>lvl <%= card.card.level %></h5>
          </div>
        <% end %>
      </div>
    </div>

    <div class="skills">
      <% @skills.each do |skill| %>
        <% if skill.name.include?("Effect") %>
          <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
            <%= image_tag "effect" %>
            <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "multi" %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "" %>
          <% end %>
          </div>
        <% elsif skill.name.include?("Taunt") %>
          <div id="skill-ennemy-target" class="skill-card blocked skill-ennemy-target <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "taunt" %>
          <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "", data: { play_attack_target: "attackInput" } %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "", data: { play_attack_target: "submit" } %>
          <% end %>
          </div>
        <% elsif skill.name.include?("Heal") && skill.target_type == "Single" %>
          <div id="skill-ally-target" class="skill-card blocked <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "heal" %>
          <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "", data: { play_attack_target: "healInput" } %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "", data: { play_attack_target: "submit" } %>
          <% end %>
          </div>
        <% elsif skill.name.include?("Heal") && skill.target_type == "Multi" %>
          <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "multi-heal" %>
          <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "multi" %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "" %>
          <% end %>
          </div>
        <% elsif skill.name.include?("Attack") && skill.target_type == "Single" %>
          <div id="skill-ennemy-target" class="skill-card blocked skill-ennemy-target <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "attack" %>
          <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "", data: { play_attack_target: "attackInput" } %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "", data: { play_attack_target: "submit" } %>
          <% end %>
          </div>
        <% elsif skill.name.include?("Attack") && skill.target_type == "Multi" %>
          <div class="skill-card <%= skill.card.side == "dark" ? "red-skill" : "blue-skill" %>">
          <%= image_tag "multi-attack" %>
          <%= form_with(url: play_card_battle_path, method: :patch, class: "skill-form") do |f| %>
            <%= f.hidden_field :target, value: "multi" %>
            <%= f.hidden_field :skill, value: skill.id %>
            <%= f.submit skill.id, value: "" %>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  <% else %>
    <div class="battle-top-part">
      <h2 id="title-ennemy-target">Select a Target</h2>
    </div>

    <div class="players-container">
      <div class="players-cards">
        <% @bcs_opponent.each do |card| %>
          <div class="player-card <%= @card_to_play == card ? "card-playing" : nil %>">
            <div class="damage-taken">
              <% if card.damage_taken < 0 %>
                <p class="dmg-taken">
                  <%= card.damage_taken %>
                </p>
              <% elsif card.damage_taken > 0 %>
                <p class="heal-taken">
                  +<%= card.damage_taken %>
                </p>
              <% else %>
                <p></p>
              <% end %>
            </div>
            <div class="effects">
              <% unless card.effects.empty? %>
                <% card.effects.each do |effect| %>
                  <div class="effect <%= effect.curse ? "curse" : "boost" %>" data-title="<%= effect.name %> <%= effect.curse ? "-" : "+" %> <%= effect.intensity %>">
                    <p></p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
              <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% else %>
              <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% end %>
            <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
            <%= image_tag card.card.photo %>
            <h3><%= card.card.name %></h3>
            <h5>lvl <%= card.card.level %></h5>
          </div>
        <% end %>
      </div>
    </div>

    <div class="battle-mid-part">
      <h2>It's your opponent's turn</h2>
      <%= form_with(url: simulate_turn_battle_path, method: :patch, class: "next-battle-button") do |f| %>
        <%= f.submit "Next" %>
      <% end %>
    </div>

    <div class="players-container">

      <div class="players-cards">

        <% @bcs_player.each do |card| %>

          <div class="player-card">
            <div class="damage-taken">
              <% if card.damage_taken < 0 %>
                <p class="dmg-taken">
                  <%= card.damage_taken %>
                </p>
              <% elsif card.damage_taken > 0 %>
                <p class="heal-taken">
                  +<%= card.damage_taken %>
                </p>
              <% else %>
                <p></p>
              <% end %>
            </div>
            <div class="effects">
              <% unless card.effects.empty? %>
                <% card.effects.each do |effect| %>
                  <div class="effect <%= effect.curse ? "curse" : "boost" %>" data-title="<%= effect.name %> <%= effect.curse ? "-" : "+" %> <%= effect.intensity %>">
                    <p></p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if (card.hit_points / card.max_hp.to_f) > 0.3 %>
              <div class="card-hit-points" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% else %>
              <div class="card-hit-points-low" style="width: <%= (card.hit_points / card.max_hp.to_f).round(2) * 100 %>%;"></div>
            <% end %>
            <div class="card-counter" style="width: <%= card.counter > 100 ? 100 : card.counter %>%;"></div>
            <%= image_tag card.card.photo %>
            <h3><%= card.card.name %></h3>
            <h5>lvl <%= card.card.level %></h5>
          </div>
        <% end %>
      </div>
    </div>

    <div class="skills">

    </div>
  <% end %>
</div>
