<div class="challenges-container">
  <% if params[:side] == "elite" %>
    <% @all_challenges.each_with_index do |chlgs, index| %>
      <div class="epic-challenges">
        <h2><%= chlgs.first.epic_card %></h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= index %>ModalCenter">
          <%= image_tag "information" %>
        </button>
        <div class="modal fade" id="<%= index %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= index %>ModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="<%= index %>ModalLongTitle">Required Characters :</h5>
              </div>
              <div class="modal-body">
                <h3><%= chlgs.first.requirement.split(",").join(" ") %></h3>
                <p>You need these characters at the corresponding Prestige in order to play these challenges.</p>
              </div>
            </div>
          </div>
        </div>
        <% chlgs.sort_by(&:rank).each do |challenge| %>
          <% if challenge.unlocked %>
            <%= link_to challenge_path(challenge) do %>
              <div class="challenge-card">
                <h2><%= challenge.rank %></h2>
              </div>
            <% end %>
          <% else %>
            <div class="locked-challenge-card">
              <h2><%= challenge.rank %></h2>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% elsif params[:side] == "epic" %>
    <div class="epic-human-challenges">
      <h2 class="epic-title">Human</h2>
      <% @human_challenges.each_with_index do |chlgs, index| %>
        <div class="epic-challenges">
          <h2><%= chlgs.first.epic_card %></h2>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= index %>ModalCenter">
            <%= image_tag "information" %>
          </button>
          <div class="modal fade" id="<%= index %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= index %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= index %>ModalLongTitle">Required Characters :</h5>
                </div>
                <div class="modal-body">
                  <h3><%= chlgs.first.requirement.split(",").join(" ") %></h3>
                  <p>You need these characters at the corresponding Prestige in order to play these challenges.</p>
                </div>
              </div>
            </div>
          </div>
          <% chlgs.sort_by(&:rank).each do |challenge| %>
            <% if challenge.unlocked %>
              <%= link_to challenge_path(challenge) do %>
                <div class="challenge-card">
                  <h4><%= challenge.rank %></h4>
                </div>
              <% end %>
            <% else %>
              <div class="locked-challenge-card">
                <h4><%= challenge.rank %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="undead-epic-challenges">
      <h2 class="epic-title">Undead</h2>
      <% @undead_challenges.each_with_index do |chlgs, index| %>
        <div class="epic-challenges">
          <h2><%= chlgs.first.epic_card %></h2>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= index %>ModalCenter">
            <%= image_tag "information" %>
          </button>
          <div class="modal fade" id="<%= index %>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="<%= index %>ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= index %>ModalLongTitle">Required Characters :</h5>
                </div>
                <div class="modal-body">
                  <h3><%= chlgs.first.requirement.split(",").join(" ") %></h3>
                  <p>You need these characters at the corresponding Prestige in order to play these challenges.</p>
                </div>
              </div>
            </div>
          </div>
          <% chlgs.sort_by(&:rank).each do |challenge| %>
            <% if challenge.unlocked %>
              <%= link_to challenge_path(challenge) do %>
                <div class="challenge-card">
                  <h4><%= challenge.rank %></h4>
                </div>
              <% end %>
            <% else %>
              <div class="locked-challenge-card">
                <h4><%= challenge.rank %></h4>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  <% else %>
  <div class="challenges-list">
    <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>
        <div class="challenge-card">
          <h2><%= challenge.rank %></h2>
        </div>
      <% end %>
    <% end %>
    <% @challenges_locked.each do |challenge| %>
      <div class="locked-challenge-card">
        <h2><%= challenge.rank %></h2>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
