<div class="challenge-show-container" data-controller="user-cards">
  <div class="cards-selection">
  <h2>Cards selection</h2>
    <% @players_cards.each do |card| %>
      <div class="cards-selection-card" data-user-cards-target="card" data-action="click->user-cards#selectCard" data-card-id="<%= card.id %>">
        <h5><%= card.name %></h5>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <div class="battle-creation">
  <h2>Battle creation</h2>
    <div class="battle-creation-comp">
    <h4>Computer's Team</h4>
      <% @bt_computer.each do |card| %>
      <div class="cards-selection-card">
        <h5><%= card.name %></h5>
      </div>
    <% end %>
    </div>
    <br>
    <br>
    <div class="battle-creation-play">
      <h4>My Team</h4>
      <div class="players-selection" data-user-cards-target="selection">

      </div>
    </div>
      <%= button_to battles_path, disabled: true, data: { user_cards_target: "playButton", card_ids: "" } do %>
        <input type="hidden" name="challenge_id" value="<%= @challenge.id %>"/>

        <div class="selected-card-ids" data-user-cards-target="submission">
        </div>
        <h2>PLAY</h2>
      <% end %>
  </div>
</div>
