<div class="my-cards-container">
  <div class="my-cards-navbar">
    <h1>MY CARDS</h1>
    <h3>Army Power : <%= @total_power %></h3>
  </div>
  <% @cards.each do |card| %>
    <% case card.cat %>
    <% when "weak" %>
      <div class="my-card">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <h5>lvl <%= card.level %></h5>
        <p><%= card.experience %>/<%= card.next_level %> xp</p>
        <h5>prestige <%= card.prestige %></h5>
        <p>power: <%= card.war_power %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "normal" %>
      <div class="my-card normal-card">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <h5>lvl <%= card.level %></h5>
        <p><%= card.experience %>/<%= card.next_level %> xp</p>
        <h5>prestige <%= card.prestige %></h5>
        <p>power: <%= card.war_power %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "strong" %>
      <div class="my-card strong-card">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <h5>lvl <%= card.level %></h5>
        <p><%= card.experience %>/<%= card.next_level %> xp</p>
        <h5>prestige <%= card.prestige %></h5>
        <p>power: <%= card.war_power %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "elite" %>
      <div class="my-card elite-card">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <h5>lvl <%= card.level %></h5>
        <p><%= card.experience %>/<%= card.next_level %> xp</p>
        <h5>prestige <%= card.prestige %></h5>
        <p>power: <%= card.war_power %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% end %>
  <% end %>
  <% @cards_locked.each do |card| %>
    <% case card.cat %>
    <% when "weak" %>
      <div class="my-card card-locked">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "normal" %>
      <div class="my-card normal-card card-locked">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "strong" %>
      <div class="my-card strong-card card-locked">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% when "elite" %>
      <div class="my-card elite-card card-locked">
        <%# Change to image_tag card.faction when DB migration done %>
        <%= image_tag card.side %>
        <h4><%= card.name %></h4>
        <p><%= card.card_type %></p>
        <p>shards <%= card.shards %>/<%= card.next_prestige %></p>
      </div>
    <% end %>
  <% end %>
</div>
